<div class="room-container">
    <div class="room-card available">
      <div class="room-content">
        <div class="room-info">
          <h4>203</h4>
          <p>Sencilla</p>
        </div>
        <img src="assets/imgPrueba.png" class="room-image" alt="Icono">
      </div>
      <p class="room-status">Disponible</p>
    </div>
  
    <div class="room-card occupied">
      <div class="room-content">
        <div class="room-info">
          <h4>215</h4>
          <p>Sencilla</p>
        </div>
        <img src="assets/imgPrueba.png" class="room-image" alt="Icono">
      </div>
      <p class="room-status">Ocupada</p>
    </div>
  </div>
  