<div class="layout">
  <!-- Sidebar -->

  <p-sidebar  #sidebarRef [(visible)]="sidebarVisible"
    styleClass="p-sidebar-custom" [modal]="false">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
          <span class="inline-flex align-items-center gap-2"></span>
          <span>
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 12px;">
              <img src="../../../../assets/logoHotel.webp" class="logo">
              <h2 style="color: white;">Hotel La Sierra</h2>
            </div>
          </span>
        </div>
        <div class="overflow-y-auto">
          <ul class="list-none p-3 m-0">
            <!-- Menú principal -->
            @for (itemMenu of menuItem.menu; track $index) {

            <li>
              <div pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown"
                leaveToClass="hidden" leaveActiveClass="slideup"
                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple items-sidebar"
                [routerLink]="itemMenu.routerLink" routerLinkActive="active">
                <div class="flex align-items-center">
                  <i [class]="itemMenu.icon" class="mr-3"></i>
                  <span class="font-medium">{{ itemMenu.label }}</span>
                </div>
                @if (itemMenu.items?.length) {
                <i class="pi pi-chevron-down ml-auto"></i>
                }
              </div>

              <!-- Submenú -->
              <ul class="list-none p-0 m-0 overflow-hidden">
                @for (subItem of itemMenu.items; track $index) {
                <li>
                  <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple 
                    items-sidebar" [routerLink]="subItem.routerLink" routerLinkActive="active">
                    <div class="flex align-items-center">
                      <i [class]="subItem.icon" class="mr-3"></i>
                      <span class="font-medium">{{subItem.label}}</span>
                    </div>
                  </div>
                </li>
                }
              </ul>
            </li>
            }
          </ul>
        </div>
      </div>
    </ng-template>
  </p-sidebar>

  <!--sidebar version pequeña-->
  @if (!sidebarVisible) {
  <p-sidebar styleClass="sidebar-collapsed" #sidebarRef [visible]="true" [modal]="false">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
          <span class="inline-flex align-items-center gap-2"></span>
          <span>
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; ">
              <img src="../../../../assets/logoHotel.webp" class="logo">
            </div>
          </span>
        </div>
        <div class="overflow-y-auto">
          <ul class="list-none p-3 m-0">
            <!-- Menú principal -->
            @for (itemMenu of menuItem.menu; track $index) {

            <li>
            

              <!-- Submenú -->
              <ul class="list-none p-0 m-0 overflow-hidden">
                @for (subItem of itemMenu.items; track $index) {
                <li>
                  <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple 
                  items-sidebar" [routerLink]="subItem.routerLink" routerLinkActive="active">
                    <div class="flex align-items-center">
                      <i [class]="subItem.icon" class="mr-3"></i>
                    </div>
                  </div>
                </li>
                }
              </ul>
            </li>
            }
          </ul>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
  }
  <!-- Contenedor principal con el Navbar -->
  <div class="main-content">
    <header>
      <nav>
        <p-menubar styleClass="custom-menubar">
          <ng-template pTemplate="start">
            <div class="button-open-sidebar">
              <p-button styleClass="button-open-sidebar" (onClick)="toggleSidebar()" icon="pi pi-bars" rounded="true"
                [pTooltip]='sidebarVisible ? "Cerrar Menú" : "Abrir Menú" ' tooltipPosition="left">
              </p-button>
            </div>
            <a routerLink="/home"></a>
          </ng-template>

          <ng-template pTemplate="end">
            <p-menu #menu [model]="menuItem.user" [popup]="true"></p-menu>
            <p-button (onClick)="menu.toggle($event)" pButton icon="pi pi-user" class="p-button-rounded p-button-info">
            </p-button>
          </ng-template>
        </p-menubar>
      </nav>
    </header>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>