<div class="flex justify-content-between">
    <h4 class="pb-2">Usuarios</h4>
    <div>
       <button pTooltip="Agregar" tooltipPosition="left" pButton pRipple type="button" icon="fa fa-plus"
          (click)="onNew()" class="ml-2 p-button-rounded p-button-outlined"></button>
    </div>
 </div>
 <hr class="border border-top ">
 
@if (dataTransferForm && dataTransferForm.mode != mode.none) {
    <app-dynamic-form (cancelar)="onCancel()"/>
}
@if (dataTransferForm && dataTransferForm.mode == mode.none) {
    <app-dynamic-table [titleColumn]="title" [body]="body" />
}
