<div class="p-mt-2">
    <table>
        <thead>
            <tr>
                <ng-container *ngFor="let header of title">
                    <th>{{ header }}</th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of body">
                <ng-container *ngFor="let field of title">
                    <td>{{ item[field] }}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>

<div mt-1>
    <p-table [value]="body" #dt [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
        [globalFilterFields]="['tipoActivo.nombre','nombre', 'descripcionUbicacion']" [autoLayout]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Se muestran {first} a {last} de {totalRecords} resultados">
        <ng-template pTemplate="caption">
            <div style="text-align:right; max-width: 100%; width: 100%;">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Buscar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                @for (item of title; track $index) {
                <th class="text-center">{{item}} <p-columnFilter type="text" field="nombre"
                        display="menu"></p-columnFilter></th>
                }

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-activo>
            <tr *ngFor="let item of body">
                <ng-container *ngFor="let field of title">
                    <td class="text-center">{{ item[field] }}</td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>