<div class="flex justify-content-between align-items-center">
    <h4 class="pb-2">Habitaciones</h4>
    <button pTooltip="Agregar" tooltipPosition="left" pButton pRipple type="button" icon="fa fa-plus" (click)="onNew()"
        class="p-button-rounded p-button-outlined"></button>
</div>
<hr class="border border-top">
 
@if (dataTransferForm && dataTransferForm.mode != mode.none) {
    <app-customer-input-fields [dataTransferForm]="dataTransferForm" (cancelar)="onCancel()"/>
}
@if (dataTransferForm && dataTransferForm.mode == mode.none) {
    <app-dynamic-table [titleColumn]="title" [body]="data" />
}







