<div class="flex justify-content-between align-items-center">
    <h4 class="pb-2">Habitaciones-este es un cambio para verficar despliegue en netlify</h4>
    <button pTooltip="Agregar" tooltipPosition="left" pButton pRipple type="button" icon="fa fa-plus" (click)="onNew()"
        class="p-button-rounded p-button-outlined"></button>
</div>
<hr class="border border-top">
 
@if (dataTransferForm && dataTransferForm.mode != mode.none) {
    <app-customer-input-fields [dataTransferForm]="dataTransferForm" (add)="createCustomer($event)" 
    (update)="update($event)" (cancelar)="noneMode()"/>
}
@if (dataTransferForm && dataTransferForm.mode == mode.none) {
    <app-customer-list  [listCustomers]="listCustomers" (update)="onUpdate($event)" (delete)="onDelete($event)"/>
}







