<div class='demo-app'>

    <div class='demo-app-sidebar'>
    </div>
    <div class='demo-app-sidebar-section'>
        <ul>
            <li *ngFor='let event of currentEvents()'>

            </li>
        </ul>
    </div>
</div>

<div class='demo-app-main' style="width: 70rem;">
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
        </ng-template>
    </full-calendar>
</div>